---
#layout: compress # enable only if needed
---

<!DOCTYPE html>
<script>
  'use strict';
(function () {
	function init() {
		var datum = new Date();
		document.getElementById('zeit')
			.innerHTML = datum;
	}
	document.addEventListener("DOMContentLoaded", function () {
		init();
	});
}());
</script>
<html lang="{{ site.lang | slice: 0,2 | default: "en" }}">

{% include head.html %}

<body>
  <!-- page container -->
  <div class="page-container">
    <!-- page header -->
    {% include header.html %}
    <!-- page content -->
    <main class="page-content" role="main">
      <a href="/menu" colour="green">Vollständiges Menü anzeigen</a>
      <a href="/apps" colour="green">Apps anzeigen</a>
      <h1>Aktuelle Zeit</h1>
<main>
		<time aria-current="date" id="zeit"></time>
</main>
<a href="/clock">UhrzeitApp öffnen</a>
{{ content }}
    </main>
    <!-- page footer -->
    {% include footer.html %}
  </div>
  {% include scripts.html %}
</body>

</html>
